<h1>Java script学習</h1>

<button id="test_button">ボタン</button>

<script>
  const button = document.getElementById('test_button');
    button.addEventListener('click',function(){
      window.print();
    });
</script>
